/* login.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #474747;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
  
.formContainer {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.titulo {
    display: block;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}
  
.form {
    width: 100%;
}
  
.wrapInput {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
  
.input {
    font-size: 15px;
    color: #333;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
    font-family: 'Nunito', sans-serif;
}
  
.focusInput {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad;
    font-family: 'Nunito', sans-serif;
}
  
.containerLoginFormBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}
  
.loginFormBtn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #21d4fd, #b721ff);
    cursor: pointer;
}
  
.mensagem {
    margin-top: 20px;
    font-size: 1rem;
    color: #d9534f;
    text-align: center;
}

.erro {
    color: #d9534f;
}